<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Importation de Boxicons -->
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <title>Document</title>

  <style>


  </style>

</head>



<body>



<button  (click)="toggleSidebar()" *ngIf="isSidebarHidden==false"   class="toggle-sidebar" style="background-color: #3C91E6">
  <i class='bx bx-menu'></i>
</button>




<section class="sidebar"  [ngClass]="{'hide': isSidebarHidden}">

  <a class="brand">
    <i class="bx bxs-smile"></i>
    <span class="text">AdminHub</span>
  </a>
  <ul class="side-menu top">




    <li *ngIf="isSidebarHidden" (click)="toggleSidebar()" >
      <a >
        <i class='bx bx-x' style="font-size: 40px;"></i>
        <span class="text"></span>
      </a>
    </li>


    <li [ngClass]="{'active': activeRoute === '/dashboard'}">
      <a routerLink="/dashboard" (click)="setActive('/dashboard')">
        <i class="bx bxs-dashboard"></i>
        <span class="text">Dashboard</span>
      </a>
    </li>


    <li [ngClass]="{'active': activeRoute === '/questionnaire'}">
      <a routerLink="/questionnaire" (click)="setActive('/questionnaire')">
        <i class='bx bxs-file'></i>
        <span class="text">Questionnaire </span>
      </a>
    </li>

    <li [ngClass]="{'active': activeRoute === '/formation'}">
      <a routerLink="/formation" (click)="setActive('/formation')">
        <i class="bx bxs-graduation"></i>
        <span class="text">Formation</span>
      </a>
    </li>

    <li [ngClass]="{'active': activeRoute === '/profile'}">
      <a routerLink="/profile" (click)="setActive('/profile')">
        <i class="bx bxs-user"></i>
        <span class="text">Profil</span>
      </a>
    </li>

    <li [ngClass]="{'active': activeRoute === '/setting'}">
      <a routerLink="/logout" (click)="setActive('/setting')">
        <i class='bx bx-cog' ></i>
        <span class="text">Setting </span>
      </a>
    </li>

    <li [ngClass]="{'active': activeRoute === '/logout'}">
      <a routerLink="/logout" (click)="setActive('/logout')">
        <i class='bx bx-log-out-circle' ></i>
        <span class="text">Logout</span>
      </a>
    </li>

  </ul>
</section>

</body>
</html>
