* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.profil-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.profil-card {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  width: 500px;
  height: 500px; /* ou toute valeur selon tes besoins */

  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.profil-card:hover {
  transform: translateY(-10px);
}

.profil-header {
  position: relative;
  background: #3C91E6;
  padding: 30px;
  border-radius: 20px 20px 0 0;
}

.profil-photo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  margin-bottom: 15px;
}

.profil-name h2 {
  color: #fff;
  font-size: 22px;
  font-weight: bold;
}

.profil-name p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  font-weight: 300;
}

.profil-body {
  padding: 20px;
}

.profil-item {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 10px 0;
  font-size: 16px;
  color: #333;
}

.profil-item i {
  font-size: 20px;
  color: #6e7bff;
  margin-right: 10px;
}

.profil-footer {
  padding: 15px;
}

.btn-edit {
  background-color: #3C91E6;
  color: white;
  border: none;
  padding: 12px 25px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-edit:hover {
  background-color: #4e54d3;
}

